article.teaser {
	position: relative;
	img {
	}

	a {
		color: $black;
	}

	div.info {
		h2 {
			margin-bottom: 0;
			line-height: 20px;
		}

		.date {
			margin: 0;
			font-size: 14px;
		}
	}

	margin: 0px 0px 20px 0;
}

article.mainteaser {
	@include span-columns(12);

	a {
		color: white;
		display: block;
		position: relative;

		.darkener {
			position: absolute;
			background: black;
			@include fill-parent;
			height: 500px;
			opacity: .3;
			@include transition(opacity .7s);
		}

		img {
			height: 500px;
		}
	}

	a:hover {
		.darkener {
			opacity: 0;
		}
	}

	div.info {
		padding: 10px;
		position: absolute;
		bottom: 30px;
		left: 30px;
		max-width: 450px;
		color: white;
		text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 7px #001135;
		// background: rgba(0, 0, 0, 0.3);
		border-radius: 0.5em;
		@include transition(color .5s);
	}

	@include media($mobile) {
		@include span-columns(4);
	}
}

article.smallteaser {

	@include media($mobile) {
		@include fill-parent;
	}

	@include media($tablet) {
		@include span-columns(4);
		@include omega("2n+1");
	}

	@include media($desktop) {
		@include span-columns(4);
		@include omega("3n+4");
		height: 450px;
	}

	a.imgwrapper {
		background: black;
		line-height: 200px;
		display: block;
		position: relative;

		img {
			vertical-align: middle;
			max-height: 200px;
		}

		.darkener {
			height: 200px;
			position: absolute;
			@include fill-parent;
			background: black;
			opacity: .2;
			@include transition(opacity .5s);
		}
	}

	a.imgwrapper:hover {
		.darkener {
			opacity: 0;
		}
	}



	div.info {
		padding: 0px 20px 10px 20px;
		p {
			max-height: 130px;
			overflow: hidden;
		}

		h2 {
			line-height: 25px;
		}

		p::after {
			@include span-columns(12);
			content: ' ';
			height: 100px;
			left: 0;
			position: absolute;
			bottom: 0;
			@include linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1))
		}
	}
}