{% load staticfiles %}<!doctype html>
<html>
	<head>
		<title>dave.cx - Davids personal playground</title>
		<link rel="stylesheet" href="{% static "css/style.css" %}">
		<link rel="stylesheet" href="{% static "css/dynamicgrid.css" %}">
		<link rel="stylesheet" href="{% static "css/jquery.qtip.min.css" %}">
		<script type="text/javascript" src="{% static "js/jquery-1.8.2.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/feed.js" %}"></script>
		<script type="text/javascript" src="{% static "js/prettydate.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery.qtip.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/script.js" %}"></script>
		<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-31118328-3']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
	</head>
	<body>
		<div id="wrapper">
			<div id="navbar">
				<div id="navcontent">
					<ul>
						<li {% if current == "home" %}class="current"{% endif %}><a href="/">Home</a></li>
						<li {% if current == "projects" %}class="current"{% endif %}><a href="/p/">Projects</a></li>
						<li {% if current == "blog" %}class="current"{% endif %}><a href="http://blog.dave.cx/">Blog</a></li>
						<li {% if current == "thoughts" %}class="current"{% endif %}><a href="http://thoughts.dave.cx">Thoughts</a></li>
					</ul>
				</div>
			</div>
			<div id="header">
				<div class="hlwrapper">
					<h1><a href="/">dave.cx</a></h1>
					<h2>Davids personal playground</h2>
				</div>
			</div>
			<div id="contentwrapper">
				<div id="content">
					{% block "content" %}
					<div class="row main">
						<div class="span7">
							<div class="section">
								{% block "section" %}{% endblock %}
							</div>
						</div>
						<div class="span3">
							{% block "sidebar" %}
							<div class="section">
								<div class="twitterfeed">
									<h3>Recent twitter activity</h3>
									<ul class="nostyle">loading...</ul>
								</div>
								<a href="https://twitter.com/davicorn" class="twitter-follow-button" data-show-count="true">Follow me!</a>
							</div>
							{% endblock %}
						</div>
					</div>
					{% endblock %}
				</div>
			</div>
			<p class="clear"></p>
			<div id="footer">
				<div id="footercontent">
					&copy;2012 - <a href="http://dave.cx/">David Mohl</a>, powered by <a target="_blank" href="https://www.djangoproject.com/">django</a>
				</div>
			</div>
		</div>
	</body>
</html>