{% extends "headfoot.html" %}
{% load static %}

{% block title %}{% block fbtitle %}Meet David!{% endblock %}{% endblock %}

{% block content %}
<article class="about" itemscope itemtype="http://schema.org/Person">
	<img itemprop="image" src="{% static "img/dave.jpg" %}" alt="">
	<section>
		<h2>Meet David!</h2>
		<div class="description">
			<p>Heya and thanks for stepping by!</p>
			<p>I'm <span itemprop="name">David Mohl</span> or simply 'Dave'. I'm 21 years old, half german and half hungarian, and work as some kind of <span itemprop="jobTitle">developer</span>.</p>
			<p>I am based in Germany and hold a "professional IT specialist" degree, which is the result of a 3 years vocational education.</p>
			<p>In 2013 I founded my own company, <a href="http://personalitycores.com" target="_blank">Personalitycores</a> with a browser extension called <a href="http://proxmate.dave.cx/" target="_blank">ProxMate</a> as my first product, and left Germany. Since April '13, I am on the run. Sometimes here, sometimes there - without a real aim. Just going where the wind blows me (no pun intended).</p>
			<p>I love travelling and being independent. At the time of writing, I am in Tokyo, Japan and probably doing something japanese. I am a little bit obsessed with asian countries. Previous destinations were Taipei, Hong Kong, Seoul and Bangkok.</p>
			<p>When I'm not travelling or coding, I am trying my luck with Taekwondo, eat or mess around with my DSLR.</p>
			<p>If you have any questions, please contact me via <a href="mailto:dave@dave.cx">email</a> or shoot me a <a href="https://twitter.com/intent/tweet?text=@davicorn%20You%20are%20awesome!" target="_blank">tweet</a> or something. <a href="http://dabido.github.io/">Here</a> is my Résumé, in case you're interested.</p>
		</div>
	</section>
</article>
{% endblock content %}