{% extends "headfoot.html" %}

{% block content %}
<section class="posts">
	{% if show_main_teaser %}
	<article class="teaser mainteaser">
		<a href="{% url 'blog.views.detail' id=posts.0.id slug=posts.0.slug %}">
			<div class="darkener"></div>
			<img src="{{ posts.0.teaser_image.url }}" alt="{{ posts.0.title }} teaser image">
		</a>
		<div class="info">
			<h2><a href="{% url 'blog.views.detail' id=posts.0.id slug=posts.0.slug %}">{{ posts.0.title }}</a></h2>
			<p class="date">Published on <span>{{ posts.0.publish_date|date:'Y/m/d' }}</span></p>
			<p>{{ posts.0.teaser }}</p>
		</div>
	</article>
	{% else %}
		<header>{% spaceless %}
		<h2>
		{% if category != None %}
			Posts for <span>{{ category.name }}</span></h2>
		{% elif tag != None %}
			<h2>Posts tagged with '<span>{{ tag.name }}</span>'</h2>
		{% endif %}
		</h2>
		{% endspaceless %}</header>
	{% endif %}
	{% for post in posts %}
	{% if not forloop.first or not show_main_teaser %}
	<article class="teaser smallteaser">
		<a class="imgwrapper" href="{% url 'blog.views.detail' id=post.id slug=post.slug %}">
			<div class="darkener"></div>
			<img src="{{ post.teaser_image.url }}" alt="{{ post.title }} teaser image">
		</a>
		<div class="info">
			<h2><a href="{% url 'blog.views.detail' id=post.id slug=post.slug %}">{{ post.title }}</a></h2>
			<p class="date">Published on <span>{{ post.publish_date|date:'Y/m/d' }}</span></p>
			<p>{{ post.teaser }}</p>
		</div>
	</article>
	{% endif %}
	{% endfor %}
</section>
<section class="pagina">
    <span class="step-links">
        {% if posts.has_previous %}
	        {% spaceless %}<a href="
	        {% if category %}
	        	{% url 'blog.views.listing' page=posts.previous_page_number category_slug=category.slug %}
	        {% elif tag %}
	        	{% url 'blog.views.listing' page=posts.previous_page_number tag_slug=tag.slug %}
	        {% else %}
	        	{% url 'blog.views.listing' page=posts.previous_page_number %}
	        {% endif %}
            ">&lt; Previous</a>{% endspaceless %}
        {% endif %}

        <span class="current">
            Page {{ posts.number }} of {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
	        {% spaceless %}<a href="
	        {% if category %}
	        	{% url 'blog.views.listing' page=posts.next_page_number category_slug=category.slug %}
	        {% elif tag %}
	        	{% url 'blog.views.listing' page=posts.next_page_number tag_slug=tag.slug %}
	        {% else %}
	        	{% url 'blog.views.listing' page=posts.next_page_number %}
	        {% endif %}
            ">Next &gt;</a>{% endspaceless %}
        {% endif %}
    </span>
</section>

{% endblock %}