* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body .topheader, div.header-flap {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 108.5298%;
  margin-right: 0;
  background: #50b7dc;
  margin: 0px 0px 10px 0px;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  position: relative;
  margin-left: -4.2649%;
  z-index: 3;
  font-size: 13px; }
  body .topheader:last-child, div.header-flap:last-child {
    margin-right: 0; }
  body .topheader h1, div.header-flap h1 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 50px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
    color: white; }
    body .topheader h1:last-child, div.header-flap h1:last-child {
      margin-right: 0; }
  body .topheader a, div.header-flap a {
    color: white;
    line-height: 50px;
    display: inline-block;
    height: 50px;
    text-decoration: none;
    padding: 0px 10px; }
  body .topheader a:hover, div.header-flap a:hover {
    background: #2693ba; }
  body .topheader nav, div.header-flap nav {
    text-align: left;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 4.2649%; }
    body .topheader nav:last-child, div.header-flap nav:last-child {
      margin-right: 0; }
    body .topheader nav a, div.header-flap nav a {
      font-size: 17px; }
      body .topheader nav a img, div.header-flap nav a img {
        height: 50px;
        line-height: 50px;
        display: inline-block;
        vertical-align: middle; }
  body .topheader nav.social, div.header-flap nav.social {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-left: 0%;
    text-align: right; }
    body .topheader nav.social:last-child, div.header-flap nav.social:last-child {
      margin-right: 0; }
  body .topheader .nav-arrow, div.header-flap .nav-arrow {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid white;
    display: inline-block;
    position: relative;
    bottom: 3px; }
  body .topheader .categories, div.header-flap .categories {
    position: absolute;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin-left: 15.35365%;
    top: 50px;
    background: white;
    z-index: 1;
    padding: 5px 0px;
    border-radius: 5px; }
    body .topheader .categories:last-child, div.header-flap .categories:last-child {
      margin-right: 0; }
    body .topheader .categories a, div.header-flap .categories a {
      display: block;
      line-height: 30px;
      height: auto;
      color: #414141; }
  @media screen and (min-width: 0px) and (max-width: 600px) {
    body .topheader, div.header-flap {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      margin-left: 0%; }
      body .topheader:last-child, div.header-flap:last-child {
        margin-right: 0; }
      body .topheader h1, div.header-flap h1 {
        font-size: 15px;
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 46.28851%; }
        body .topheader h1:last-child, div.header-flap h1:last-child {
          margin-right: 0; }
      body .topheader nav, div.header-flap nav {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 19.43277%;
        margin-left: 0%; }
        body .topheader nav:last-child, div.header-flap nav:last-child {
          margin-right: 0; }
        body .topheader nav a, div.header-flap nav a {
          display: none; }
        body .topheader nav a:first-child, div.header-flap nav a:first-child {
          display: inline-block; }
      body .topheader nav.social, div.header-flap nav.social {
        display: block;
        float: left;
        margin-right: 7.42297%;
        width: 19.43277%; }
        body .topheader nav.social:last-child, div.header-flap nav.social:last-child {
          margin-right: 0; }
      body .topheader .categories, div.header-flap .categories {
        display: none; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    body .topheader, div.header-flap {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%; }
      body .topheader:last-child, div.header-flap:last-child {
        margin-right: 0; }
      body .topheader nav, div.header-flap nav {
        margin-left: 0%;
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 35.26334%; }
        body .topheader nav:last-child, div.header-flap nav:last-child {
          margin-right: 0; }
        body .topheader nav a:nth-child(2), div.header-flap nav a:nth-child(2) {
          display: none; }
      body .topheader h1, div.header-flap h1 {
        font-size: 15px;
        display: block;
        float: left;
        margin-right: 3.57866%;
        width: 22.316%; }
        body .topheader h1:last-child, div.header-flap h1:last-child {
          margin-right: 0; }
      body .topheader .categories, div.header-flap .categories {
        margin-left: 9.06313%;
        min-width: 140px; } }
  @media screen and (min-width: 900px) and (max-width: 68.75em) {
    body .topheader, div.header-flap {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-left: 0%; }
      body .topheader:last-child, div.header-flap:last-child {
        margin-right: 0; }
      body .topheader h1, div.header-flap h1 {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        body .topheader h1:last-child, div.header-flap h1:last-child {
          margin-right: 0; }
      body .topheader nav, div.header-flap nav {
        margin-left: 0%;
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        body .topheader nav:last-child, div.header-flap nav:last-child {
          margin-right: 0; } }

div.header-flap {
  position: absolute;
  height: 50px;
  z-index: -1; }

div.header-flap::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: 50px;
  border-width: 15px 30px;
  border-style: solid;
  border-color: #1d8cb3 #1d8cb3 transparent transparent; }

div.header-flap::before {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  right: 0px;
  top: 50px;
  border-width: 15px 30px;
  border-style: solid;
  border-color: #1d8cb3 transparent transparent #1d8cb3; }

article.teaser {
  position: relative;
  margin: 0px 0px 20px 0; }
  article.teaser a {
    color: #414141; }
  article.teaser div.info h2 {
    margin-bottom: 0;
    line-height: 20px; }
  article.teaser div.info .date {
    margin: 0;
    font-size: 14px; }

article.mainteaser {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  article.mainteaser:last-child {
    margin-right: 0; }
  article.mainteaser a {
    color: white; }
  article.mainteaser a.imgwrapper {
    display: block;
    position: relative;
    line-height: 500px;
    background: black; }
    article.mainteaser a.imgwrapper .darkener {
      position: absolute;
      background: black;
      height: 100%;
      width: 100%;
      opacity: .3;
      -webkit-transition: opacity 0.7s;
      -moz-transition: opacity 0.7s;
      transition: opacity 0.7s; }
    article.mainteaser a.imgwrapper img {
      max-height: 500px;
      vertical-align: middle; }
  article.mainteaser a:hover .darkener {
    opacity: 0; }
  article.mainteaser div.info {
    padding: 10px;
    position: absolute;
    bottom: 30px;
    left: 30px;
    max-width: 450px;
    color: white;
    text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 7px #001135;
    border-radius: 0.5em;
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    transition: color 0.5s; }
  @media screen and (min-width: 0px) and (max-width: 600px) {
    article.mainteaser {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      margin-right: 0; }
      article.mainteaser:last-child {
        margin-right: 0; }
      article.mainteaser a {
        color: #414141; }
      article.mainteaser a.imgwrapper {
        background: black;
        line-height: 200px; }
        article.mainteaser a.imgwrapper .darkener {
          position: absolute;
          width: 100%;
          background: black;
          opacity: .2;
          -webkit-transition: opacity 0.5s;
          -moz-transition: opacity 0.5s;
          transition: opacity 0.5s; }
      article.mainteaser a.imgwrapper:hover .darkener {
        opacity: 0; }
      article.mainteaser div.info {
        bottom: 0;
        left: 0;
        position: relative;
        text-shadow: none;
        color: #414141; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    article.mainteaser a.imgwrapper {
      background: black;
      line-height: 400px; }
      article.mainteaser a.imgwrapper .darkener {
        position: absolute;
        width: 100%;
        background: black;
        opacity: .2;
        -webkit-transition: opacity 0.5s;
        -moz-transition: opacity 0.5s;
        transition: opacity 0.5s; } }

article.smallteaser a.imgwrapper {
  background: black;
  line-height: 200px;
  display: block;
  position: relative; }
  article.smallteaser a.imgwrapper img {
    vertical-align: middle;
    max-height: 200px; }
  article.smallteaser a.imgwrapper .darkener {
    height: 100%;
    position: absolute;
    width: 100%;
    background: black;
    opacity: .2;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s; }
article.smallteaser a.imgwrapper:hover .darkener {
  opacity: 0; }
article.smallteaser div.info {
  padding: 0px 20px 10px 20px; }
  article.smallteaser div.info p {
    max-height: 130px;
    overflow: hidden; }
  article.smallteaser div.info h2 {
    line-height: 25px; }
  article.smallteaser div.info p::after {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%;
    content: ' ';
    height: 100px;
    left: 0;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, white));
    background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white); }
    article.smallteaser div.info p::after:last-child {
      margin-right: 0; }
@media screen and (min-width: 0px) and (max-width: 600px) {
  article.smallteaser {
    display: block;
    float: left;
    margin-right: 7.42297%;
    width: 100%;
    margin-right: 0;
    height: 450px; }
    article.smallteaser:last-child {
      margin-right: 0; }
    article.smallteaser a.imgwrapper img {
      max-height: 400px; } }
@media screen and (min-width: 600px) and (max-width: 900px) {
  article.smallteaser {
    display: block;
    float: left;
    margin-right: 3.57866%;
    width: 48.21067%;
    height: 450px; }
    article.smallteaser:last-child {
      margin-right: 0; }
    article.smallteaser:nth-child(2n+1) {
      margin-right: 0; } }
@media screen and (min-width: 900px) and (max-width: 68.75em) {
  article.smallteaser {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 450px; }
    article.smallteaser:last-child {
      margin-right: 0; }
    article.smallteaser:nth-child(3n+4) {
      margin-right: 0; } }
@media screen and (min-width: 68.75em) {
  article.smallteaser {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    height: 450px; }
    article.smallteaser:last-child {
      margin-right: 0; }
    article.smallteaser:nth-child(3n+4) {
      margin-right: 0; } }

a.sharebutton {
  width: 161px;
  display: inline-block;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  line-height: 28px;
  text-align: center;
  background-repeat: no-repeat;
  position: relative; }

a.share-facebook {
  background-image: url(../img/facebook-icon.png), -webkit-linear-gradient( #3a5897, #2f487b);
  background-image: url(../img/facebook-icon.png), linear-gradient( #3a5897, #2f487b); }

a.share-gplus {
  background-image: url(../img/gplus-icon.png), -webkit-linear-gradient( #d94837, #a42719);
  background-image: url(../img/gplus-icon.png), linear-gradient( #d94837, #a42719); }

a.share-twitter {
  background-image: url(../img/twitter-icon.png), -webkit-linear-gradient( #3cc6f4, #31b2dd);
  background-image: url(../img/twitter-icon.png), linear-gradient( #3cc6f4, #31b2dd); }

a.sharebutton:hover {
  text-decoration: none !important; }

article.about {
  *zoom: 1;
  max-width: 68.75em;
  margin-left: auto;
  margin-right: auto; }
  article.about:before, article.about:after {
    content: " ";
    display: table; }
  article.about:after {
    clear: both; }
  article.about img {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    margin-top: 4%; }
    article.about img:last-child {
      margin-right: 0; }
  article.about section {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    article.about section:last-child {
      margin-right: 0; }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    article.about img {
      *zoom: 1;
      display: block;
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 48.21067%;
      margin-right: 0; }
      article.about img:before, article.about img:after {
        content: " ";
        display: table; }
      article.about img:after {
        clear: both; }
      article.about img:last-child {
        margin-right: 0; }
    article.about section {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%; }
      article.about section:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 0px) and (max-width: 600px) {
    article.about img {
      *zoom: 1;
      display: block;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 73.14426%;
      margin-right: 0; }
      article.about img:before, article.about img:after {
        content: " ";
        display: table; }
      article.about img:after {
        clear: both; }
      article.about img:last-child {
        margin-right: 0; }
    article.about section {
      *zoom: 1;
      display: block;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      margin-right: 0; }
      article.about section:before, article.about section:after {
        content: " ";
        display: table; }
      article.about section:after {
        clear: both; }
      article.about section:last-child {
        margin-right: 0; } }

section.error {
  background: white;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  padding: 10px; }

body {
  padding: 10px 0px 0px 0px;
  position: relative;
  background: #f4f4f4;
  color: #414141;
  font: 16px/1.2 'Droid Sans', Helvetica, sans-serif;
  line-height: 1.6;
  *zoom: 1;
  max-width: 68.75em;
  margin-left: auto;
  margin-right: auto; }
  body:before, body:after {
    content: " ";
    display: table; }
  body:after {
    clear: both; }

a {
  text-decoration: none;
  color: #1f90e0; }

a:hover {
  text-decoration: underline;
  cursor: pointer; }

article {
  background: white;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  padding: 10px; }
  article img {
    width: 100%; }

section.posts {
  *zoom: 1;
  max-width: 68.75em;
  margin-left: auto;
  margin-right: auto; }
  section.posts:before, section.posts:after {
    content: " ";
    display: table; }
  section.posts:after {
    clear: both; }
  section.posts header {
    background: white;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    padding: 0px 10px;
    margin-top: -20px; }

article.post {
  background: white;
  padding: 10px; }
  article.post header h2 {
    font-size: 25px;
    padding: 0;
    margin: 0; }
  article.post .teasertext {
    font-weight: 700; }
  article.post img {
    width: 100%;
    max-height: 500px;
    border: solid 1px #eee;
    padding: 5px; }
  article.post div.infobox {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding: 5px 10px;
    position: relative; }
    article.post div.infobox:last-child {
      margin-right: 0; }
    article.post div.infobox p {
      margin: 10px 0px;
      position: relative;
      font-weight: bold; }
      article.post div.infobox p span {
        font-weight: normal;
        position: absolute;
        left: 130px; }
    article.post div.infobox .sharebutton {
      *zoom: 1;
      display: block;
      width: 100%;
      margin: 0px 0px 5px 0px; }
      article.post div.infobox .sharebutton:before, article.post div.infobox .sharebutton:after {
        content: " ";
        display: table; }
      article.post div.infobox .sharebutton:after {
        clear: both; }
    article.post div.infobox .share {
      margin: 60px 0px 20px 0px; }
  article.post div.infobox-mobile {
    display: none; }
  article.post div.infobox.follow {
    position: fixed; }
  article.post div.flow {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%;
    margin-right: 0;
    padding: 10px; }
    article.post div.flow:last-child {
      margin-right: 0; }
    article.post div.flow code {
      font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
      background: #eeeeee;
      padding: 5px; }
    article.post div.flow img {
      margin-bottom: 10px;
      width: 100%;
      height: auto;
      border: solid 1px #eee;
      padding: 5px; }
    article.post div.flow img.smaller {
      height: auto;
      width: auto;
      clear: both; }
    article.post div.flow .youtube-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden; }
    article.post div.flow .youtube-container iframe,
    article.post div.flow .youtube-container object,
    article.post div.flow .youtube-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
  article.post div.comments {
    width: 100%;
    clear: both;
    margin: 50px 0px 0px 0px; }
  @media screen and (min-width: 0px) and (max-width: 600px) {
    article.post div.flow {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      article.post div.flow:last-child {
        margin-right: 0; }
    article.post div.infobox {
      display: none; }
    article.post div.infobox-mobile {
      display: block;
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%; }
      article.post div.infobox-mobile:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    article.post div.flow {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      margin-left: 0%; }
      article.post div.flow:last-child {
        margin-right: 0; }
    article.post div.infobox {
      display: none; }
    article.post div.infobox-mobile {
      display: block;
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 74.10533%; }
      article.post div.infobox-mobile:last-child {
        margin-right: 0; } }

.pagina {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  text-align: right; }
  .pagina:last-child {
    margin-right: 0; }
  @media screen and (min-width: 0px) and (max-width: 600px) {
    .pagina {
      display: block;
      float: left;
      margin-right: 7.42297%;
      width: 100%;
      text-align: center; }
      .pagina:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 600px) and (max-width: 900px) {
    .pagina {
      display: block;
      float: left;
      margin-right: 3.57866%;
      width: 100%;
      text-align: center; }
      .pagina:last-child {
        margin-right: 0; } }

footer {
  text-align: center;
  font-size: 12px;
  margin: 10px 0;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  *zoom: 1;
  display: block; }
  footer:last-child {
    margin-right: 0; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
